$header-color: rgb(239, 239, 239);
$header-padding: 3.6rem;
$header-border-color: #444;
$row-v-padding: 0.8rem;
$row-border-color: #ccc;
$font-size: 1rem;
$button-width: 4rem;

body {
    overflow-y: visible;
}

#t-header {
    position: fixed;
    width: 100%;
    font-weight: bold;
    font-size: $font-size;
    background-color: $header-color;
    z-index: 1;
    border-bottom: 1px solid $header-border-color;
    padding-top: $row-v-padding;
    padding-bottom: $row-v-padding;

}

#t-body {
    height: 100%;
    overflow-y: visible;
    padding-top: $header-padding;
    font-size: $font-size;

    .d-flex {
        border-bottom: 1px solid $row-border-color;
        padding-top: $row-v-padding;
        padding-bottom: $row-v-padding;

        div {
            word-break: break-word;
            word-wrap: break-word;
        }
    }
}

.btn-w {
    width: $button-width;
}

body.modal-open{
    #t-header {
        width: calc(100% - 17px);
    }
}
